<h1>Just for testing out, user email and band list</h1>
<p>no band associtation yet</p>

<br>
<br>
<%= link_to "back to create new user", new_user_url %>
<br>
<%= link_to "back to bands index page", bands_url %>